.gitignore
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*$py.class

# IDE / editor files
.vscode/
.idea/
*.swp
*.swo
*.bak

# Dependencies
venv/
*.sqlite3

# Local development settings
local_settings.py

# Miscellaneous
*.log
*.bak
*.gz
/staticfiles
/mediafiles

# Credentials and sensitive information
secret_config.py
config.json
